<div class="signup_container">
	<h2>Sign up</h2>
	<div class="signup_form">
		<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		<%= devise_error_messages! %>
		<%= f.email_field :email, autofocus: true %> <br />
	    <%= f.password_field :password, autocomplete: "off", placeholder: "Min. 8 Characters" %> <br />
	    <%= f.password_field :password_confirmation, autocomplete: "off" %> <br />
	    <div class="buttons">
			<%= f.submit "Sign up", class: "btn btn-info btn-lg" %> <br /> <br />
			<%= render "devise/shared/links" %>
		</div>
		<% end %>
	</div>
</div>