<div class="show_post_container">
	<div class="post_container">
		<h1><%= @post.title %></h1>
		<h4><%= @post.caption %></h4>
		<div class="comments_container">
			<p> <strong>Comments</strong> </p>
			<% @post.comments.each do |c| %>
				<%= c.text %> <br /><br />
				<% if current_user %>
					<%= link_to 'Edit Post', edit_post_path, class: "btn btn-xs btn-success", type: "button" %> <br /><br />
				<% end %>
				Posted by <%= link_to c.user.email, c.user %> <%= distance_of_time_in_words_to_now(c.created_at) + " ago" %> 
				<% if current_user.has_role? :admin %>
					<%= link_to "Edit Comment", edit_post_comment_path(@post, c), class: "btn btn-xs btn-info", type: "button"  %>
					<%= link_to "Delete Comment", post_comment_path(@post, c), class: "btn btn-xs btn-danger", type: "button",  method: :delete, data: { confirm: 'Are you sure?' }  %> <br /> 
				<% end %>   
				
			<% end %>
		</div>
	</div>
</div> <br />
<div class="buttons">
	<%= link_to "Comment", new_post_comment_path(@post), class: "btn btn-lg btn-success", type: "button" %>
</div>